table{
    width:600px;
    border-spacing:4px;
}
th{
    text-align:center;
}
table,th,td{
    border:1px solid #000;
}
th,td{
    padding:10px;
}
tr:nth-child(even){
    background-color: #fff;
}
tr:nth-child(odd){
    background-color: #ddd;
}

.time-span{
    display: inline-block;
    width: 80px;
}

.container-attitude {
    height: 300px;

}

.container-learning {
    height: 300px;

}

.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.MyRect {
    fill: steelblue;
}

.MyText {
    fill: white;
    text-anchor: middle;
}
